/* Google Fonts */
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500;600;700&display=swap");

:root {
    /* Variables */
    --header-height: 76px;
    --font-medium: 500;
    /* Colors */
    --first-color: #c31432;
    --white-color: white;
    --dark-color: rgba(0,0,0,1);
    --light-color: gray;
    --text-color: #505050;
    /* Fonts */
    --body-font: 'Montserrat', sans-serif;
    --big-font-size: 6.25rem;
    --icon-font-size: 1.3rem;
    --h2-font-size: 1.25rem;
    --normal-font-size: .938rem;
    --small-font-size: .813rem;
    /* Margins */
    --mb-1: .5rem;
    --mb-2: 1rem;
    --mb-3: 1.5rem;
    --mb-4: 2rem;
    /* z-index */
    --z-fixed: 100;
}
@media screen and (min-width: 768px) {
    /* Fonts Continued */
    :root {
        --body-font: 'Montserrat', sans-serif;
        --big-font-size: 10.5rem;
        --h2-font-size: 2rem;
        --normal-font-size: 1rem;
        --small-font-size: .875rem;
    }
}

/* Base */
*, ::before, ::after {
    box-sizing: border-box;
}
/*
::-webkit-scrollbar {
    width: 10px;
}
::-webkit-scrollbar-button {
    display: none;
}
::-webkit-scrollbar-thumb {
    width: 5px;
    background: var(--first-color);
    border-radius: 10px;
}
::-webkit-scrollbar-track {
    background: transparent;
}
::-webkit-scrollbar-track-piece {
    background: transparent;
}
*/
::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: rgba(0,0,0,.5);
    opacity: 1; /* Firefox */
}
:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: rgba(0,0,0,.5);
}
::-ms-input-placeholder { /* Microsoft Edge */
    color: rgba(0,0,0,.5);
}
html {
    scroll-behavior: smooth;
}
body {
    margin: 0;
    font-family: var(--body-font);
    font-size: var(--normal-font-size);
    font-weight: var(--font-medium);
    color: var(--text-color);
    line-height: 1.6;
}

/* Nav */
#bootstrap_overrides .logo {
    color: var(--first-color);
}
#bootstrap_overrides nav {
    width: 100%;
    padding-top: 16px;
    padding-bottom: 16px;
    box-shadow: 0px 5px 20px rgba(0, 0, 0, .25);
}
.navbar-toggler:focus {
    outline: none;
}
.nav-item {
    margin-right: var(--mb-2);
}
.nav-link {
    border: 1px solid transparent;
    border-radius: 25px;
    transition-duration: .3s;
}
#bootstrap_overrides .nav-link:hover {
    color: var(--first-color);
    transition-duration: .3s;
}
.nav-link i {
    position: relative;
    top: 3.5px;
    left: 3.5px;
    font-size: var(--icon-font-size);
}
#bootstrap_overrides .bx-home {
    top: 2px;
}
#bootstrap_overrides .active {
    border: 1px solid var(--first-color);
    color: var(--first-color);
}

@media screen and (max-width: 993px) {
    #bootstrap_overrides .nav-link {
        padding-left: 8px;
        padding-right: 8px;
    }
    .nav {
        margin-top: 16px;
    }
    .nav-link i {
        display: inline-flex;
        float: right;
        top: 3px;
        left: 3px;
    }
}

/* Index - Login */
.login {
    position: relative;
    text-align: center;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}
.title-logo {
    position: absolute;
    width: auto;
    color: var(--first-color);
    top: 10%;
    left: 50%;
    transform: translate(-50%, -100%);
}
.login-container {
    position: absolute;
    width: 50%;
    height: auto;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.25);
    background-color: transparent;
    border-radius: 25px;
    top: 50%;
    left: -30%;
    transform: translate(-50%, -50%);
    transition-duration: .5s;
}
.login-title {
    padding: var(--mb-2);
    margin-top: 16px;
    margin-bottom: 0;
    text-align: center;
    color: var(--first-color);
}
.login-form {
    padding: var(--mb-2);
    text-align: center;
}
.login-input {
    width: 80%;
    min-width: 235px;
    padding: .8rem;
    outline: none;
    border: 1.5px solid var(--first-color);
    font-size: var(--normal-font-size);
    background-color: transparent;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: var(--mb-4);
    border-radius: 25px;
}
#bootstrap_overrides .login-label {
    margin-bottom: 0;
}
.login-button {
    display: block;
    width: 235px;
    padding: .75rem 2.5rem;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 16px;
    background-color: transparent;
    color: var(--first-color);
    border: 1.5px solid var(--first-color);
    border-radius: 25px;
    outline: none;
    font-size: var(--normal-font-size);
    cursor: pointer;
    -webkit-appearance: none;
    transition: .3s;
}
.newaccount-button-container {
    padding-left: 16px;
    padding-right: 16px;
}
.newaccount-button {
    width: 235px;
    margin-top: 0;
    margin-bottom: 32px;
    background-color: transparent;
    color: var(--light-color);
    border: 1.5px solid var(--light-color);
}
.login-button:hover {
    color: var(--white-color);
    border: 1.5px solid transparent;
    background-color: var(--first-color);
    transition: .3s;
}
.newaccount-button:hover {
    color: var(--white-color);
    border: 1.5px solid transparent;
    background-color: var(--light-color);
    transition: .3s;
}
.newaccount-button:focus {
    outline: none;
}
/* Create account container */
.createaccount-container {
    position: absolute;
    width: 50%;
    height: auto;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.25);
    background-color: transparent;
    border-radius: 25px;
    top: 50%;
    left: 130%;
    transform: translate(-50%, -50%);
    transition-duration: .5s;
}
.createaccount-title {
    padding: var(--mb-2);
    margin-top: 16px;
    margin-bottom: 0;
    text-align: center;
    color: var(--first-color);
}
.createaccount-form {
    padding: var(--mb-2);
    text-align: center;
}
.createaccount-input {
    width: 80%;
    min-width: 235px;
    padding: .8rem;
    outline: none;
    border: 1.5px solid var(--first-color);
    font-size: var(--normal-font-size);
    background-color: transparent;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: var(--mb-4);
    border-radius: 25px;
}
#bootstrap_overrides .createaccount-label {
    margin-bottom: 0;
}
.createaccount-button {
    display: block;
    width: 235px;
    padding: .75rem 2.5rem;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 16px;
    background-color: transparent;
    color: var(--first-color);
    border: 1.5px solid var(--first-color);
    border-radius: 25px;
    outline: none;
    font-size: var(--normal-font-size);
    cursor: pointer;
    -webkit-appearance: none;
    transition: .3s;
}
.back-button-container {
    padding-left: 16px;
    padding-right: 16px;
}
.back-button {
    width: 235px;
    margin-top: 0;
    margin-bottom: 32px;
    background-color: transparent;
    color: var(--light-color);
    border: 1.5px solid var(--light-color);
}
.createaccount-button:hover {
    color: var(--white-color);
    border: 1.5px solid transparent;
    background-color: var(--first-color);
    transition: .3s;
}
.back-button:hover {
    color: var(--white-color);
    border: 1.5px solid transparent;
    background-color: var(--light-color);
    transition: .3s;
}
.back-button:focus {
    outline: none;
}
.focused {
    left: 50%;
    transition-duration: .5s;
}
@media screen and (max-width: 993px) {
    .focused {
        width: 100%;
    }
}
@media screen and (max-width: 495px) {
    .title-logo {
        top: 15%;
    }
}
@media screen and (max-height: 630px) {
    .title-logo {
        display: none;
    }
}
/*Login screen animation*/
@keyframes animate{
    0%{
        transform: translateY(0) rotate(0deg) scale(1);
        opacity: 1;
    }
    100%{
        transform: translateY(-110vh) rotate(360deg) scale(0);
        opacity: 0;
    }
}
.box-area {
    position: absolute;
    top: 0;
    bottom: 0;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}
.box-area li {
    position: absolute;
    display: block;
    list-style: none;
    width: 25px;
    height: 25px;
    background: var(--first-color);
    animation: animate 20s linear infinite;
    bottom: -200px;
}
.box-area li:nth-child(1) {
    left: 4%;
    width: 50px;
    height: 50px;
    animation-delay: 1.5s;
    animation-duration: 10s;
    border-radius: 25%;
}
.box-area li:nth-child(2) {
    left: 12%;
    width: 140px;
    height: 140px;
    animation-delay: 3.5s;
    animation-duration: 20s;
    border-radius: 25%;
}
.box-area li:nth-child(3) {
    left: 25%;
    width: 95px;
    height: 95px;
    animation-delay: 4s;
    animation-duration: 13s;
    border-radius: 25%;
}
.box-area li:nth-child(4) {
    left: 32%;
    width: 170px;
    height: 170px;
    animation-delay: 0s;
    animation-duration: 24s;
    border-radius: 25%;
}
.box-area li:nth-child(5) {
    left: 45%;
    width: 135px;
    height: 135px;
    animation-delay: 2s;
    animation-duration: 14s;
    border-radius: 25%;
}
.box-area li:nth-child(6) {
    left: 56%;
    width: 40px;
    height: 40px;
    animation-delay: 0.6s;
    animation-duration: 7s;
    border-radius: 25%;
}
.box-area li:nth-child(7) {
    left: 65%;
    width: 60px;
    height: 60px;
    animation-delay: 0s;
    animation-duration: 13s;
    border-radius: 25%;
}
.box-area li:nth-child(8) {
    left: 70%;
    width: 115px;
    height: 115px;
    animation-delay: 5.5s;
    animation-duration: 17s;
    border-radius: 25%;
}
.box-area li:nth-child(9) {
    left: 77%;
    width: 155px;
    height: 155px;
    animation-delay: 1s;
    animation-duration: 23s;
    border-radius: 25%;
}
.box-area li:nth-child(10) {
    left: 86%;
    width: 100px;
    height: 100px;
    animation-delay: 0s;
    animation-duration: 15s;
    border-radius: 25%;
}
.box-area li:nth-child(11) {
    left: 90%;
    width: 52px;
    height: 52px;
    animation-delay: 4s;
    animation-duration: 11s;
    border-radius: 25%;
}
.box-area li:nth-child(12) {
    left: 93%;
    width: 105px;
    height: 105px;
    animation-delay: 2.5s;
    animation-duration: 19s;
    border-radius: 25%;
}